@font-face {
    font-family: 'Gotham';
    src: url('fonts/GothamBook.ttf') format('truetype');
}

@font-face {
    font-family: 'Agency FB';
    src: url('fonts/agencyfb_reg.ttf') format('truetype'),
         url('fonts/agencyfb_bold.ttf') format('truetype');
}

body {
    /* background-image: url('background1.jpg'); */
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    margin: 0;
    background-color: rgb(32, 32, 32);
}

table{
    border: 4px solid rgb(128, 111, 255);
    padding: 0px;
    text-align: center;
    margin: auto;
    background-color: rgb(36, 6, 119); 
}

td {
    border: 2px solid rgb(255, 255, 255);
    width: 25px;
    padding: 5px;
    color: rgb(255, 255, 255);
    font-family: 'Gotham';
    font-size: large;
    font-weight: 600;
    transition: 0.3s ease;
}

td.read {
    background-color: red;
}

td:hover {
    background-color: rgb(255, 47, 47);
    border-radius: 15px;
    transform: scale(1.1);
    cursor: pointer;
}

tr:nth-child(even) {
    background-color: rgb(81, 81, 78);
}
tr:nth-child(odd) {
    background-color: rgb(44, 42, 40);
}
h1, h2 {
    text-align: center;
    font-family:'Gotham';
    color: rgb(206, 115, 12);
    font-weight: 100;
}

p {
    text-align: center;
    color:rgb(63, 68, 174);
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: large;
}

.buttons {
    background: rgb(255, 255, 255);
    color: rgb(7, 7, 7);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border: 1px white solid;
    border-radius: 8px;
    padding: 5px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    display: block;
    width: fit-content;
    text-align: center;
    font-size: larger;
    text-decoration-line: none;
    transition: all 0.3s;
}

.buttons:hover {
    background: transparent;
    color:white;
    border-radius: 0px;
    cursor:pointer;

}


.hidden {
    text-align: center;
    font-size: xx-large;
    font-weight: 600;
    color: rgb(38, 145, 3);
    display: none;
    font-family: 'Gotham';
    transition: all 0.5s;
}

#restartButton {
    margin: auto;
    font-size: larger;
    padding: 8px;
    background-color: rgb(231, 231, 231);
    color: rgb(163, 30, 30);
    border-radius: 6px;
    transition: 0.5s;
}

#restartButton:hover {
    color: rgb(206, 115, 12);
    font-weight:900;
    background-color: rgb(53, 53, 53);
    border-radius: 0px;
    cursor:pointer;
}

#wordList {
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
    display: block;
}
.word {
    text-align: center;
    color:rgb(133, 133, 138);
    font-family:'Agency FB';
    font-weight: 600;
    font-size: x-large;
    padding: 5px 5px;
    line-height: 50px;
    margin-left: auto;
    margin-right: auto;
    background-color: transparent;
    border: 4px solid rgb(128, 111, 255);
    overflow-x: scroll;
    transition: all 0.3s ease;
    width: fit-content;

}

.word:hover {
    border-radius: 10px;
    border-color: red;
}

