{% load static %}

<!DOCTYPE html>
<html lang = 'en'>
    <link href = "{% static 'search_game/gamepage_styling.css' %}" rel = "stylesheet">
    <head>
        <title>Testing</title>
        <body>
            <h1>Word Search Game</h1>
            <table id='grid'>
                {% for row in grid %}
                    <tr>
                        {% for letter in row %}
                            <td id='{{ forloop.parentloop.counter }}_{{ forloop.counter }}'>{{letter}}</td>
                        {% endfor %}
                    </tr>
                {% endfor %}
            </table>
            
            <h2>
                Word List:
            </h2>       
            <p>{% for i in printed_words %}
            <span class = 'word' id = '{{i}}'>{{i}}</span>
            {% endfor %}
            </p>

        <script>
            var printed_words = "{{printed_words}}";
            var grid = "{{ grid }}";
        </script>
        <a href="{% url 'homepage' %}">Bored or stuck? Make a new game!</a>
        <script src = "{% static 'search_game/gamepage_script.js' %}"></script>
        </body>
    </head>
</html>
