{% load static %}

<!DOCTYPE html>
<html lang = 'en'>
    <link href = "{% static 'search_game/gamepage_styling.css' %}" rel = "stylesheet">
    <head>
        <title>Testing</title>
        <body>
            <h1>Word Search Game</h1>
            <table id='grid'>
                {% for row in grid %}
                    <tr>
                        {% for letter in row %}
                            <td id='{{ forloop.parentloop.counter }}_{{ forloop.counter }}'>{{letter}}</td>
                        {% endfor %}
                    </tr>
                {% endfor %}
            </table>
            <h1 id = 'gameOver' class = 'hidden'>Congratulations! You've finished the game!</h1>
            <button onclick="restartGame()" id = 'restartButton' class = 'hidden'>Start New Game</button>
            <h2>
                Word List:
            </h2>       
            <div id ='wordList'>{% for i in printed_words %}
            <span class = 'word' id = '{{i}}'>{{i}}</span>
            {% endfor %}
            </div>

        <script>
            var printed_words = "{{printed_words}}";
            var grid = "{{ grid }}";
            function restartGame() {
                var url = "{% url 'homepage' %}";

                window.location.href = url;
            }
        </script>
        <button id = 'instructionsButton' class = 'buttons'>
            How to play?
        </button>
        <p id = 'instructions'>
        </p>
        <a id = 'redirectLink' class = 'buttons' href="{% url 'homepage' %}">Bored or stuck? Make a new game!</a>
        <script src = "{% static 'search_game/gamepage_script.js' %}"></script>
        </body>
    </head>
</html>
